html {
  --color-bg: #f0f0f0;
  --glow-color: #080808;

  min-height: 100%;
  background-color: var(--color-bg);
}

body {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
}

a {
  background-color: #fff;
}

.nav-btn {
  display: inline-block;
  box-shadow: 3px 3px 3px #9c9c9c, -3px -3px 3px var(--color-bg);
  text-decoration: none;
  color: rgb(44, 44, 44);
  margin: 4px 4px;
  padding: 6px 8px;
  border-radius: 2px;
  font-size: 16px;
}

.nav-btn.active {
  box-shadow: inset 3px 3px 3px -1px #9c9c9c, inset -3px -3px 3px -1px var(--color-bg);
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  padding-top: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  margin-bottom: 30px;
}
.logo-wrap:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  left: 25%;
  top: 25%;
  box-shadow: 8px 10px 30px var(--glow-color), 5px 5px 20px #d9fbff;
  z-index: 3;
}
.logo-wrap:before {
  content: '';
  position: absolute;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 8px 7px 20px var(--glow-color), 7px 7px 15px #D9FBFE;
  z-index: 1;
}
.logo-svg {
  width: 150px;
  height: 150px;
  z-index: 3;
}

.actual-message {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  padding: 20px 20px;
}

@media (max-width: 600px) {
  .logo-svg {
    width: 70px;
    height: 70px;
  }
}