:root {
  --color-bg: #f0f0f0;
  --color-glow: #080808;
  --color-font-main: #282828;
}

html {
  min-height: 100%;
  background-color: var(--color-bg);
}

body {
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: var(--color-font-main);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

details {
  padding: 10px;
}
summary {
  margin-bottom: 10px;
}

* {

  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
}

/* Header part */
.nav-btn {
  display: inline-block;
  box-shadow: 3px 3px 3px #8c8c8c, -3px -3px 3px var(--color-bg);
  text-decoration: none;
  color: rgb(44, 44, 44);
  margin: 4px 4px;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.nav-btn.active {
  box-shadow: inset 3px 3px 3px -1px #8c8c8c, inset -3px -3px 3px -1px var(--color-bg);
}


.container {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  padding: 0 6px;
}

.header {
  padding-top: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-top {
  position: fixed;
  background-color: var(--color-bg);
  width: 100%;
  top: 0;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 -18px 30px #a5a5a5, 0 4px 10px #dbdbdb;
}
.p-name {
  white-space: nowrap;
  color: transparent;
  transition: .2s;
}
.p-name:hover {
  color: var(--color-font-main);
}

.links-list {
  display: flex;
  align-items: center;
}
.link-item {
  margin: 0 4px;
}
.link-item a {
  display: inline-flex;
}
.link-item a:hover svg {
  color: #000;
  fill: #000;
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}
.logo-wrap:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  left: 25%;
  top: 25%;
  box-shadow: 8px 10px 30px var(--color-glow), 5px 5px 20px #d9fbff;
  z-index: 3;
}
.logo-wrap:before {
  content: '';
  position: absolute;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 8px 7px 20px var(--color-glow), 7px 7px 15px #D9FBFE;
  z-index: 1;
}
.logo-svg {
  width: 150px;
  height: 150px;
  z-index: 3;
}

.actual-message {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  padding: 20px 20px;
}


@media (max-width: 600px) {
  .logo-svg {
    width: 70px;
    height: 70px;
  }
}