:root {
  --color-bg: #fff;
  --color-font-main: #252525;
  --titles-color: #363636;
  --dark-gray: #202020;
}

html {
  height: 100%;
  background-color: var(--color-bg);
}

html[lang="en"] [lang="ru"]{
  display: none;
}

html[lang="ru"] [lang="en"]{
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--titles-color);
}

h1, h2, h3 {
  margin-top: 15px;
  margin-bottom: 30px;
}

h4, h5, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: var(--color-font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


details {
  padding: 10px;
}

summary {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

a {
  color: #209bff;
}
a:visited {
  color: #209bff;
}

b {
  font-weight: 500;
}

section {
  min-height: 70vh;
  padding-top: 100px;
  margin-bottom: 80px;
}

.news-card__img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  padding-top: 65px;
}

.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 5px 5px 10px #eaeaea;
  border-bottom: 1px solid #000000;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  padding: 0 15px;
}

.content {
  min-height: calc(100vh - 96px);
}

.main {
  background: #fcfcfc;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header,
.main,
.footer {
  width: 100%;
}


.h-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-name {
  margin-left: 14px;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  margin-left: 8px;
  margin-right: 25px;
  flex-grow: 1;
}
.nav-list li {
  list-style: none;
  margin-left: 8px;
  margin-right: 8px;
}


.post-card {
  position: relative;
  margin-top: 45px;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow:  5px 5px 10px #eaeaea, 
               -5px -5px 10px #ffffff;
  border: 2px solid #eaeaea;
}

.post-card .date {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 12px;
  color: #8a8a8a;
}

.section-contacts li {
  font-size: 16px;
}

.switch-lang-buttons {
  display: flex;
  height: 25px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .p-name {
    display: none;
  }
  .nav-list li {
    font-size: 16px;
  }
}