.nav-btn {
  display: inline-block;
  box-shadow: 3px 3px 3px #8c8c8c, -3px -3px 3px var(--color-bg);
  text-decoration: none;
  color: rgb(44, 44, 44);
  margin: 4px 4px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #fff;
}

.nav-btn.active {
  box-shadow: inset 3px 3px 3px -1px #8c8c8c, inset -3px -3px 3px -1px var(--color-bg);
}
