
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.links-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}
.link-item {
  margin: 0 4px;
}
.link-item a {
  display: inline-flex;
}
.link-item a svg {
  color: #91aabb;
  fill:#91aabb;
}
.link-item a:hover svg {
  color: #01546d;
  fill: #01546d;
}