.logo-wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  margin: 4px 10px 4px 30px;
  cursor: pointer;
  transition: .25s;
  
  .logo-svg {
    position: relative;
    width: 35px;
    height: 35px;
    z-index: 3;
  }

  &.more-light-1 {
    &:before {
      box-shadow:  
        70px -60px 70px 10px rgb(9, 255, 1), 
        -40px -40px 50px 10px rgb(0, 162, 255), 
        0px -10px 80px 40px rgb(4, 255, 255);
    }
  }

  &.more-light-2 {
    &:before {
      box-shadow:  
        20px -60px 80px 30px rgb(208, 255, 1), 
        0px -20px 60px 40px rgb(255, 117, 4);
    }
  }

  &.more-light-3 {
    &:before {
      box-shadow:  
        20px -70px 50px 30px rgb(245, 245, 245), 
        0px -30px 100px 60px rgb(19, 208, 255),
        10px -60px 50px 30px rgb(1, 217, 255),
        -20px 10px 50px 30px rgb(245, 245, 245);
    }
  }


  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-shadow: 
      0px 0px 80px 5px rgb(255, 1, 255),
      60px -40px 70px 5px rgb(0, 162, 255),
      -60px -40px 70px 5px rgb(14, 166, 255),
      0px -40px 60px 5px rgb(87, 193, 255);
    pointer-events: none;
    animation: time 2s 1.4s forwards;
    opacity: 0;
    transition: .5s;
  }

  .logo-circle-1 {
    fill: #4d4d4d;
  }
  .logo-circle-2 {
    fill: #444444;
  }
  .logo-circle-3 {
    fill: #fafafa;
  }
}

@keyframes rotateShadow {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes time {
  0% {opacity: 0;}
  100% {opacity: 1;}
}