.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  
  .nav-item {
    display: flex;
    align-items: center;

    .nav-link {
      display: inline-flex;
      margin: 2px 24px 2px 0;
      padding: 3px 0;
      text-decoration: none;
      transition: .2s;
      font-size: 16px;
      font-weight: 400;
      border-top: 2px solid transparent;

      &:hover {
        color: #e2e2e2;
      }

      &:visited {
        color: #a6e3ff;
      }
    }

    &.active {
      .nav-link {
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

}
