
.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  right: 0px;
  padding: 10px;
  width: 100%;
  z-index: 100;
}

.links-wrapper {
}

.contacts-title {
  margin: 0;
}
.links-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  top: 100%;
  transition: .15s;
}

.link-item {
  margin: 0 2px;
}
.link-item a {
  display: inline-flex;
  position: relative;
  padding: 2px 6px;
}
.link-item a svg {
  width: 24px;
  height: 24px;
  color: #74dfff;
  fill:#74dfff;
}
.link-item a:hover svg {
  color: #00b7ff;
  fill: #00b7ff;
}