@import '../assets/styles/vars.scss';

.mobile-menu {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bg;
  z-index: 100;
  padding: 40px 10px;

  &.visible {
    height: auto;
    width: auto;
    background-color: transparent;

    .menu-content {
      display: none;
    }

    .icon_burger {
      transform: rotate(0deg);
    }
  }
  
  .icon_burger {
    fill: #fafafa;
    position: absolute;
    right: 15px;
    top: 30px;
    z-index: 100;
    cursor: pointer;
    transition: .15s;
    transform: rotate(90deg);

    &:hover {
      fill: #36e1ff;
    }
  }

  .label {
    text-align: center;
  }

  .contacts {
    justify-content: center;
  }

}