
.contacts {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.links-wrapper {
}

.contacts-title {
  margin: 0;
}
.links-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  top: 100%;
  transition: .15s;
}

.link-item {
  margin: 0 4px;
}
.link-item a {
  display: inline-flex;
}
.link-item a svg {
  color: #91aabb;
  fill:#91aabb;
}
.link-item a:hover svg {
  color: #01546d;
  fill: #01546d;
}