@import './../styles/vars.scss';

.header {
  position: sticky;
  display: flex;
  // flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 26px 0 10px 0;
  background-color: $dark-gray;
  z-index: 1;

  .header-top {
    display: flex;
    align-items: center;
    z-index: 10;
  }

}


.p-name {
  position: relative;
  white-space: nowrap;
  font-size: 20px;
  font-family: 'Lexend Giga', sans-serif;
  z-index: 100;
  color: #fff;
}
