.nav {
  display: flex;
  width: 100%;
  margin: 14px 0 0 0;
}

.nav-list {
  display: flex;
}

.nav-item .nav-link {
  display: inline-flex;
  color: #000;
  padding: 4px 16px;
  margin-right: 14px;
  text-decoration: none;
  transition: .15s;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.nav-item .nav-link:hover {
  color: #fff;
  background-color: #7b7c7a;
  border: 1px solid #ffffff;
}

.nav-item.active .nav-link {
  color: #fff;
  background-color: #7b7c7a;
  border: 1px solid #7b7c7a;
}