ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

details {
  padding: 10px;
}

summary {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

.hello-text {
  width: 100%; 
  margin: 0 0 20px 0;
  font-size: 22px;
  text-align: left;
}

.cv-link {
  color: #00418b;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  padding: 0 15px;
}

.main {
  margin-top: 40px;
}

.actual-message {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  padding: 20px 20px;
}

.focus-time {
  margin: 70px auto;
  text-align: left;
  font-size: 18px;
}

.msg {
  margin-bottom: 4px;
  margin-bottom: 20px;
}

.focus {
  opacity: 0;
  margin-bottom: 20px;
}

.focus-1 {
  animation: time 2s 2s forwards;
}

.focus-2 {
  animation: time 2s 4s forwards;
}

.focus-3 {
  animation: time 2s 6s forwards;
}

.focus-4 {
  animation: time 2s 8s forwards;
}

@keyframes time {
  0% {opacity: 0;}
  100% {opacity: 1;}
}