.hero_image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin_link {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  color: #fff;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

.linkedin_link:hover {
  text-decoration: none;
}


